@import "~elements/elements.less";

@import url(http://fonts.googleapis.com/css?family=Raleway);

* {
  font-family: 'Raleway', sans-serif;
}

aker-map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .angular-google-map-container {
    height: 100%;
    width: 100%;
    position: absolute;
  }
}


.control {
  margin: 1em;
  .drop-shadow(0, 1px, 2px, 0.2);
  .rounded(5px);
  .opacity(0.8);
  z-index: 3;
  position: relative;
  background: #afcb47;
  max-width: 320px;
  color: white;

  header {
    h1 {
      text-align: center;
    }
  }

  .filter {
    ul {
      padding: 1em;
      list-style-type: none;
    }
  }

  .social-links {
    padding-bottom: 0.5em;
    font-size: x-small;
    text-align: center;

    .socialite {
      color: white;
    }
  }
}
