<ui-gmap-google-map control="map.control" events="map.events" center='map.center' zoom='map.zoom' bounds="map.bounds" refresh="map.refresh" options="mapOptions" draggable="true">

    <ui-gmap-search-box
        options="addResourceBox.options"
        template="addResourceBox.template"
        events="addResourceBox.events"
        position="addResourceBox.position">
    </ui-gmap-search-box>

  <ui-gmap-markers
    models='markers'
    events="markerEvents"
    doCluster="true"
    coords="'self'"
    icon="'icon'"
  >
  </ui-gmap-markers>

  <ui-gmap-markers
    models='fabLabMarkers'
    coords="'self'"
    icon="'icon'"
    click="onClick()"
  >
    <ui-gmap-windows show="show" ng-cloak>
          <table class="fablab-table" ng-non-bindable>
            <tr><th>{{ 'WORKSHOP_NAME' | translate }}</th><td>{{fablabname}}</td></tr>
            <tr><th>{{ 'WORKSHOP_AKER_KIT' | translate }}</th><td>{{akerkit}}</td></tr>
            <tr><th>{{ 'WORKSHOP_SW' | translate }}</th><td>{{camsoftware}}</td></tr>
            <tr><th>{{ 'WORKSHOP_CNC' | translate }}</th><td>{{cncrouter}}</td></tr>
            <tr><th>{{ 'WORKSHOP_EMAIL' | translate }}</th><td><a target="_blank" href="mailto:{{email}}">{{email}}</a></td></tr>
            <tr><th>{{ 'WORKSHOP_PHONE' | translate }}</th><td>{{phone}}</td></tr>
            <tr><th>{{ 'WORKSHOP_URL' | translate }}</th><td><a target="_blank" href="{{website}}">{{website}}</a></td></tr>
            <tr><th>{{ 'WORKSHOP_CONTACT' | translate }}</th><td>{{workshopcontactperson}}</td></tr>
            <tr><th>{{ 'WORKSHOP_ADDRESS' | translate }}</th><td>{{streetaddresscitystatezip}}</td></tr>
            <tr><th>{{ 'WORKSHOP_CAP' | translate }}</th><td>{{localattendeecapacity}}</td></tr>
          </table>
    </ui-gmap-windows>
  </ui-gmap-markers>

  <ui-gmap-marker
    ng-show="map.addResourceMarker.latitude"
    ng-if="map.addResourceMarker.latitude"
    icon="map.addResourceMarker.icon"
    coords="map.addResourceMarker"
    idKey="map.addResourceMarker.id"
    options="map.addResourceMarker.options"
    click="addResourceMarkerClick()"
  >
    <ui-gmap-window
        show="true"
        closeClick="addResourceMarkerInfoWindowCloseClick()"
        options="{pixelOffset: {width: -36, height: 0, x: -36}}"
    >
        <span style="white-space: nowrap;" translate>ADD_RESOURCE_MARKER_LABEL</span>
    </ui-gmap-window>
  </ui-gmap-marker>

  <ui-gmap-window
    ng-if="markerInfoWindow.show"
    coords='markerInfoWindow.coords'
    show='markerInfoWindow.show'
    templateUrl='markerInfoWindow.templateUrl'
    templateParameter="markerInfoWindow.templateParameter"
    closeClick='markerInfoWindow.closeClick()'
    options='markerInfoWindow.options'
    >
</ui-gmap-window>

</ui-gmap-google-map>
