<ui-gmap-google-map control="map.control" events="map.events" center='map.center' zoom='map.zoom' bounds="map.bounds" refresh="map.refresh" options="mapOptions" draggable="true">

    <ui-gmap-search-box
        options="addResourceBox.options"
        template="addResourceBox.template"
        events="addResourceBox.events"
        position="addResourceBox.position">
    </ui-gmap-search-box>

  <ui-gmap-markers
    models='markers'
    events="markerEvents"
    doCluster="true"
    coords="'self'"
    icon="'icon'"
  >
  </ui-gmap-markers>

  <ui-gmap-marker
    ng-show="map.addResourceMarker.latitude"
    ng-if="map.addResourceMarker.latitude"
    icon="map.addResourceMarker.icon"
    coords="map.addResourceMarker"
    idKey="map.addResourceMarker.id"
    options="map.addResourceMarker.options"
    click="addResourceMarkerClick()"
  >
    <ui-gmap-window
        show="true"
        closeClick="addResourceMarkerInfoWindowCloseClick()"
        options="{pixelOffset: {width: -36, height: 0, x: -36}}"
    >
        <span style="white-space: nowrap;" translate>ADD_RESOURCE_MARKER_LABEL</span>
    </ui-gmap-window>
  </ui-gmap-marker>

  <ui-gmap-window
    ng-if="markerInfoWindow.show"
    coords='markerInfoWindow.coords'
    show='markerInfoWindow.show'
    templateUrl='markerInfoWindow.templateUrl'
    templateParameter="markerInfoWindow.templateParameter"
    closeClick='markerInfoWindow.closeClick()'
    options='markerInfoWindow.options'
    >
</ui-gmap-window>

</ui-gmap-google-map>
