<ui-gmap-google-map events="map.events" center='map.center' zoom='map.zoom' bounds="map.bounds" refresh="map.refresh" options="mapOptions" draggable="true">

  <ui-gmap-markers
  models='markers'
  doCluster="true"
  coords="'self'"
  icon="'icon'"
  >
  </ui-gmap-markers>

  <ui-gmap-marker
    ng-show="map.addResourceMarker.latitude"
    ng-if="map.addResourceMarker.latitude"
    icon="map.addResourceMarker.icon"
    coords="map.addResourceMarker"
    idKey="map.addResourceMarker.id"
    options="map.addResourceMarker.options"
    click="addResourceMarkerClick()">
  </ui-gmap-marker>

</ui-gmap-google-map>
