<div class="resource-info-window">
  <table class="resource-main-table">
    <tr ng-if="parameter.name">
      <th translate>INFO_WINDOW_RESOURCE_NAME</th>
      <td><div ng-bind="parameter.name"></div></td>
    </tr>
    <tr ng-if="parameter.sustainability">
      <th translate>INFO_WINDOW_RESOURCE_SUSTAINABILITY</th>
      <td translate translate-value-rating="{{parameter.sustainability}}">INFO_WINDOW_RESOURCE_SUSTAINABILITY_TEXT</td>
    </tr>
    <tr ng-if="parameter.categories &amp;&amp; parameter.categories.length > 0">
      <th translate>INFO_WINDOW_RESOURCE_TYPES</th>
      <td>
        <table class="resource-category-table">
          <tr>
            <td ng-repeat="category in parameter.categories">
              <div class="category-{{category}}"></div>
            </td>
          </tr>
          <tr>
            <th ng-repeat="category in parameter.categories" translate>
              {{'CATEGORY_' + category.toUpperCase()}}
            </th>
          </tr>
        </table>
      </td>
    </tr>
    <tr ng-if="parameter.address">
      <th translate>INFO_WINDOW_RESOURCE_ADDRESS</th>
      <td><div ng-bind="parameter.address"></div></td>
    </tr>
    <tr ng-if="parameter.phone">
      <th translate>INFO_WINDOW_RESOURCE_PHONE</th>
      <td><div ng-bind="parameter.phone"></div></td>
    </tr>
    <tr ng-if="parameter.email">
      <th translate>INFO_WINDOW_RESOURCE_EMAIL</th>
      <td><a ng-href="mailto:{{parameter.email}}" target="_blank">{{parameter.email}}</a></td>
    </tr>
    <tr ng-if="parameter.url">
      <th translate>INFO_WINDOW_RESOURCE_URL</th>
      <td><a ng-href="{{parameter.url}}" target="_blank">{{parameter.url}}</a></td>
    </tr>
    <tr ng-if="parameter.description">
      <th translate>INFO_WINDOW_RESOURCE_DESCRIPTION</th>
      <td><div ng-bind="parameter.description"></div></td>
    </tr>
    <tr ng-if="parameter.contributor">
      <th translate>INFO_WINDOW_RESOURCE_CONTRIBUTOR</th>
      <td><div ng-bind="parameter.contributor"></div></td>
    </tr>
  <table>
</div>
